<body class="subpage">
  <link rel="stylesheet" href="../assets/css/main.css" />
  <!-- Main -->
  currentId is {{currentId}}.
  username is {{username}}.
    <section id="main" class="wrapper">
      <div class="inner">
        <header class="align-center">
          <h1>Elements</h1>
          <p>Aliquam erat volutpat nam dui </p>
        </header>

        <!-- Content -->
          <h2 id="content">Sample Content</h2>
          <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing adipiscing.</p>
        <hr class="major" />
        <br/>
            <div class="12u$">
                <textarea name="message" id="message" placeholder="Enter your message" rows="6">{{currentMessage}}</textarea>
              </div>
      </div>
    </section>

</body>
