<body class="subpage">
    <link rel="stylesheet" href="../assets/css/main.css" />
    <section id="main" class="wrapper">
      <div class="inner">
        <nav>
          <a routerLink="/home">home</a><br />
          <a routerLink="/studentLogin">studentLogin</a><br />
          <a routerLink="/adminLogin">adminLogin</a><br />
          <a routerLink="/register">register</a><br />
          <a routerLink="/students">students</a><br />
          <a routerLink="/messages">messages</a><br />
          <a routerLink="/message">message</a><br />
          <a routerLink="/elements">elements</a><br />
          <a routerLink="/index">index</a><br />
          <a routerLink="/template">template</a><br />
        </nav>
      </div>
      
    </section>
</body>